<div class="container">
    <div class="row">
        <div class="header">
            Pico y placa predictor
        </div>
    </div>
    <form [formGroup]="picoPlacaForm" (ngSubmit)="verify()">
        <div class="row">
            <div class="col-sm-12 col-lg-3">
                <label for="plateNumber">License plate number:</label>
                <input id="plateNumber" placeholder="ABC0123" type="text" class="form-control" formControlName="plateNumber" (keyup)="upperCase()"
                />
                <div *ngIf="(picoPlacaForm.controls.plateNumber.invalid && (picoPlacaForm.controls.plateNumber.dirty || picoPlacaForm.controls.plateNumber.touched))"
                    class="alert alert-danger">
                    <div *ngIf="picoPlacaForm.controls.plateNumber.errors.required">
                        License plate number is required.
                    </div>
                    <div *ngIf="picoPlacaForm.controls.plateNumber.errors.minlength || picoPlacaForm.controls.plateNumber.errors.maxlength">
                        License plate number must be 7 characters long.
                    </div>
                    <div *ngIf="picoPlacaForm.controls.plateNumber.errors.pattern">
                        Invlid plate number.
                    </div>
                </div>
                <div *ngIf="picoPlacaForm.controls.date.valid && !validPlateNumber" class="alert alert-danger">
                    Invalid plate number aaa.
                </div>
            </div>
            <div class="col-sm-12 col-lg-3">
                <label for="date">Date:</label>
                <input id="date" placeholder="DD/MM/YYYY" type="text" class="form-control" formControlName="date" />
                <div *ngIf="(picoPlacaForm.controls.date.invalid && (picoPlacaForm.controls.date.dirty || picoPlacaForm.controls.date.touched))"
                    class="alert alert-danger">
                    <div *ngIf="picoPlacaForm.controls.date.errors.required">
                        Date is required.
                    </div>
                    <div *ngIf="picoPlacaForm.controls.date.errors.pattern">
                        Invlid date format, please use DD/MM/YYYY format.
                    </div>
                </div>
                <div *ngIf="picoPlacaForm.controls.date.valid && !validDate" class="alert alert-danger">
                    Invalid date.
                </div>
            </div>
            <div class="col-sm-12 col-lg-3">
                <label for="time">Time (24 hours format):</label>
                <input id="time" placeholder="HH:mm 24 hours format" type="text" class="form-control" formControlName="time" />
                <div *ngIf="(picoPlacaForm.controls.time.invalid && (picoPlacaForm.controls.time.dirty || picoPlacaForm.controls.time.touched))"
                    class="alert alert-danger">
                    <div *ngIf="picoPlacaForm.controls.time.errors.required">
                        Time is required.
                    </div>
                    <div *ngIf="picoPlacaForm.controls.time.errors.pattern">
                        Invlid time format, please use HH:mm 24 hours format.
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3">
                <br>
                <button id="verifyBtn" class="btn btn-primary verify-btn" type="button" type="submit">
                    Verify
                </button>
            </div>
        </div>
    </form>

</div>

<div class="container result" *ngIf="noTimeRestriction">
    <div class="col-lg-8 col-sm-12 result-header header-success">
        There is no Pico y placa restriction
    </div>
    <div class="col-lg-8 col-sm-12 result-content result-content-success">
        Anyway, remember that the schedules for pico y placa are:
        <ul *ngFor="let schedule of restrictionHours; index as i">
            <li>From {{schedule.start.getHours()}}:0{{schedule.start.getMinutes()}} to {{schedule.end.getHours()}}:{{schedule.end.getMinutes()}}
                <span *ngIf="i < restrictionHours.length-1"> and</span>
            </li>
        </ul>
    </div>
</div>

<div class="container result" *ngIf="onWeekend">
    <div class="col-lg-8 col-sm-12 result-header header-success result-only-header">
        There is no Pico y placa restriction on weekends
    </div>
</div>

<div class="container result" *ngIf="noRestriction">
    <div class="col-lg-8 col-sm-12 result-header header-success result-only-header">
        There is no Pico y placa restriction for you today
    </div>
</div>

<div class="container result" *ngIf="restriction">
    <div class="col-lg-8 col-sm-12 result-header header-error">
        There is Pico y placa restriction
    </div>
    <div class="col-lg-8 col-sm-12 result-content result-content-error">
        Remember that the schedules for pico y placa are:
        <ul *ngFor="let schedule of restrictionHours; index as i">
            <li>From {{schedule.start.getHours()}}:0{{schedule.start.getMinutes()}} to {{schedule.end.getHours()}}:{{schedule.end.getMinutes()}}
                <span *ngIf="i < restrictionHours.length-1"> and</span>
            </li>
        </ul>
    </div>
</div>