.header{
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}

.result{
    min-height: 50px;
    margin-top: 20px;
}

.result-header {
    /* background-color: green; */
    color: white;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 7px 0px;
    margin: auto;
}
.result-only-header{
    border-radius: 10px;
}
.header-success {
    background-color: green;
}
.header-error {
    background-color: red;
}

.result-content{
    margin: auto;   
    border-radius: 0px 0px 10px 10px;
    /* border: 1px green solid; */
    padding: 10px ;
}

.result-content-success{
    border: 1px green solid;
}

.result-content-error{
    border: 1px red solid;
}

.verify-btn{
    margin-top: 7px;
    width: 100%;
    font-weight: 600;
}